# Maven
**/target/
**/.mvn/

# IDEs
.idea/
*.iml
.vscode/

# Logs
**/logs/
*.log

# OS
.DS_Store

# Firebase credentials - do not commit this file
auth-service/src/main/resources/firebase-credentials.json
